@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/custom/CustomFont-BlackItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --custom-font: "CustomFont", "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-source-code-pro: "Source Code Pro", "Office Code Pro", Menlo, monospace;
  --font-heading: var(--custom-font);
  --font-body: var(--custom-font);
  --font-label: var(--custom-font);
  --font-code: var(--font-source-code-pro);
}

@keyframes dash-run {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.cont {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
