@use "@/ui/styles/spacing.scss";
@use "@/ui/styles/border.scss";
@use "@/ui/styles/color.scss";
@use "@/ui/styles/background.scss";
@use "@/ui/styles/typography.scss";
@use "@/ui/styles/global.scss";
@use "@/ui/styles/layout.scss";
@use "@/ui/styles/shadow.scss";
@use "@/ui/styles/size.scss";
@use "@/ui/styles/display.scss";
@use "@/ui/styles/position.scss";
@use "@/ui/styles/grid.scss";
@use "@/ui/styles/flex.scss";
@use "@/ui/styles/utilities.scss";


:root {
  --color-neutral-10: var(--scheme-sand-100);
  --color-neutral-20: var(--scheme-sand-200);
  --color-neutral-30: var(--scheme-sand-300);
  --color-neutral-40: var(--scheme-sand-400);
  --color-neutral-50: var(--scheme-sand-500);
  --color-neutral-60: var(--scheme-sand-600);
  --color-neutral-75: var(--scheme-sand-700);
  --color-neutral-80: var(--scheme-sand-800);
  --color-neutral-85: var(--scheme-sand-900);
  --color-neutral-90: var(--scheme-sand-1000);
  --color-neutral-95: var(--scheme-sand-1100);
  --color-neutral-100: var(--scheme-slate-100);
  --color-neutral-105: var(--scheme-slate-105);
  --color-neutral-1000: var(--scheme-slate-1000);
}