@reference "../../../../../../packages/sui/src/styles/globals.css";

.popoverContent {
  @apply p-0 bg-[var(--neutral-background-weak)];
  @apply border;
  @apply rounded-lg;
  @apply shadow overflow-hidden;
  border-style: solid;
  border-width: 1px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.content {
  transform-origin: var(--radix-popover-menu-content-transform-origin);
}

.content[data-state="open"] {
  animation: fadeIn 50ms ease-out;
}

.content[data-state="closed"] {
  animation: fadeOut 50ms ease-in;
}

.trigger {
  @apply border-none bg-transparent p-0 focus:ring-0;
}

.arrow {
  @apply fill-current;
  @apply border-0 border-t;
  border-style: solid;
}

.close {
  @apply absolute top-1 right-0;
  @apply bg-transparent cursor-pointer border-none;
  /* 
  @apply text-background-surface-100;
  @apply hover:text-background-surface-200;

  @apply dark:text-background-surface-200;
  @apply dark:hover:text-background-surface-00; */
}
