.xs {
    font-size: var(--static-space-16);

    &>svg:first-child {
        width: var(--static-space-12);
        height: var(--static-space-12);
    }
}

.s {
    font-size: var(--static-space-20);

    &>svg:first-child {
        width: var(--static-space-16);
        height: var(--static-space-16);
    }
}

.m {
    font-size: var(--static-space-24);

    &>svg:first-child {
        width: var(--static-space-20);
        height: var(--static-space-20);
    }
}

.l {
    font-size: var(--static-space-32);

    &>svg:first-child {
        width: var(--static-space-24);
        height: var(--static-space-24);
    }
}

.xl {
    font-size: var(--static-space-40);

    &>svg:first-child {
        width: var(--static-space-32);
        height: var(--static-space-32);
    }
}