@import "@nuvix/sui/globals.css";

:root {
  --radius: 0.625rem !important;
  --card: var(--page-background);
  --card-foreground: var(--neutral-on-background-strong);
  --popover: var(--surface-background);
  --popover-foreground: var(--neutral-on-background-strong);
  --primary: var(--brand-solid-strong);
  --primary-foreground: var(--brand-on-solid-strong);
  --secondary: var(--neutral-background-medium);
  --secondary-foreground: var(--neutral-on-background-medium);
  --muted: var(--neutral-alpha-weak);
  --muted-foreground: var(--neutral-on-background-weak);
  --accent: var(--brand-alpha-weak);
  --accent-foreground: var(--brand-on-background-medium);
  --destructive: var(--danger-background-medium);
  --border: var(--neutral-border-medium);
  --tw-shadow-color: transparent;
}

.dark {
  --card: var(--surface-background);
  --card-foreground: var(--neutral-on-background-medium);
  --border: var(--neutral-border-weak);
}

@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

[class*="shadow"] {
  box-shadow: none !important;
}

.prose :where(a:not([data-card])):not(.not-prose, .not-prose *) {
  text-decoration-thickness: 0.5px !important;
}

.prose :where(a:not([data-card])):not(.not-prose, .not-prose *):hover {
  text-decoration-thickness: 1.5px !important;
}

:is(#nx-root-layout:has(.layout\:\[--fd-header-height\:--spacing\(14\)\])) {
  --fd-header-height: calc(var(--spacing) * 14);
}

@media (max-width: 79.999rem) {
  :is(#nx-root-layout:has(.max-xl\:layout\:\[--fd-toc-popover-height\:--spacing\(10\)\])) {
    --fd-toc-popover-height: calc(var(--spacing) * 10);
  }
}

@media (max-width: 47.999rem) {
  :is(#nx-root-layout:has(.max-md\:layout\:\[--fd-header-height\:--spacing\(14\)\])) {
    --fd-header-height: calc(var(--spacing) * 14);
  }
}

@media (min-width: 48rem) {
  :is(#nx-root-layout:has(.md\:layout\:\[--fd-sidebar-width\:268px\])) {
    --fd-sidebar-width: 268px;
  }
}

@media (min-width: 64rem) {
  :is(#nx-root-layout:has(.lg\:layout\:\[--fd-header-height\:--spacing\(24\)\])) {
    --fd-header-height: calc(var(--spacing) * 24);
  }
}

@media (min-width: 80rem) {
  :is(#nx-root-layout:has(.xl\:layout\:\[--fd-toc-width\:268px\])) {
    --fd-toc-width: 268px;
  }
}
