* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: var(--static-space-80);
}

img {
    user-select: none;
}

/* SELECTION */
::selection {
    background: var(--brand-on-background-medium) !important;
    color: var(--brand-background-strong) !important;
}

/* LINK */
a:not(.button) {
    // color: var(--brand-on-background-medium);
    text-decoration: none;
    transition: var(--transition-micro-medium);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--neutral-border-strong) !important;

    &:hover {
        text-decoration: none;
        color: var(--brand-on-background-strong);
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background: var(--static-transparent);
    width: var(--static-space-8);
    height: var(--static-space-8);
}

::-webkit-scrollbar-track {
    background: var(--static-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-alpha-medium);
    transition: var(--transition-micro-medium);

    &:hover {
        background: var(--neutral-alpha-strong);
    }
}

::-webkit-scrollbar-corner {
    background-color: var(--static-transparent);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

[data-theme='dark'] .is-only-dark {
    display: inherit;
}

[data-theme='light'] .is-only-dark {
    display: none;
}

[data-theme='light'] .is-only-light {
    display: inherit;
}

[data-theme='dark'] .is-only-light {
    display: none;
}