  /****************************/
 /*           MARGIN         */
/****************************/

/* EVEN */
.rm-0 {
    margin: var(--static-space-0);
}

.rm-1 {
    margin: var(--static-space-1);
}

.rm-2 {
    margin: var(--static-space-2);
}

.rm-4 {
    margin: var(--static-space-4);
}

.rm-8 {
    margin: var(--static-space-8);
}

.rm-12 {
    margin: var(--static-space-12);
}

.rm-16 {
    margin: var(--static-space-16);
}

.rm-20 {
    margin: var(--static-space-20);
}

.rm-24 {
    margin: var(--static-space-24);
}

.rm-32 {
    margin: var(--static-space-32);
}

.rm-40 {
    margin: var(--static-space-40);
}

.rm-48 {
    margin: var(--static-space-48);
}

.rm-56 {
    margin: var(--static-space-56);
}

.rm-64 {
    margin: var(--static-space-64);
}

.rm-80 {
    margin: var(--static-space-80);
}

.rm-104 {
    margin: var(--static-space-104);
}

.rm-128 {
    margin: var(--static-space-128);
}

.rm-160 {
    margin: var(--static-space-160);
}

.rm-xs {
    margin: var(--responsive-space-xs);
}

.rm-s {
    margin: var(--responsive-space-s);
}

.rm-m {
    margin: var(--responsive-space-m);
}

.rm-l {
    margin: var(--responsive-space-l);
}

.rm-xl {
    margin: var(--responsive-space-xl);
}

/* X */
.rmx-0 {
    margin-left: var(--static-space-0);
    margin-right: var(--static-space-0);
}

.rmx-1 {
    margin-left: var(--static-space-1);
    margin-right: var(--static-space-1);
}

.rmx-2 {
    margin-left: var(--static-space-2);
    margin-right: var(--static-space-2);
}

.rmx-4 {
    margin-left: var(--static-space-4);
    margin-right: var(--static-space-4);
}

.rmx-8 {
    margin-left: var(--static-space-8);
    margin-right: var(--static-space-8);
}

.rmx-12 {
    margin-left: var(--static-space-12);
    margin-right: var(--static-space-12);
}

.rmx-16 {
    margin-left: var(--static-space-16);
    margin-right: var(--static-space-16);
}

.rmx-20 {
    margin-left: var(--static-space-20);
    margin-right: var(--static-space-20);
}

.rmx-24 {
    margin-left: var(--static-space-24);
    margin-right: var(--static-space-24);
}

.rmx-32 {
    margin-left: var(--static-space-32);
    margin-right: var(--static-space-32);
}

.rmx-40 {
    margin-left: var(--static-space-40);
    margin-right: var(--static-space-40);
}

.rmx-64 {
    margin-left: var(--static-space-64);
    margin-right: var(--static-space-64);
}

.rmx-80 {
    margin-left: var(--static-space-80);
    margin-right: var(--static-space-80);
}

.rmx-104 {
    margin-left: var(--static-space-104);
    margin-right: var(--static-space-104);
}

.rmx-128 {
    margin-left: var(--static-space-128);
    margin-right: var(--static-space-128);
}

.rmx-160 {
    margin-left: var(--static-space-160);
    margin-right: var(--static-space-160);
}

.rmx-xs {
    margin-left: var(--responsive-space-xs);
    margin-right: var(--responsive-space-xs);
}

.rmx-s {
    margin-left: var(--responsive-space-s);
    margin-right: var(--responsive-space-s);
}

.rmx-m {
    margin-left: var(--responsive-space-m);
    margin-right: var(--responsive-space-m);
}

.rmx-l {
    margin-left: var(--responsive-space-l);
    margin-right: var(--responsive-space-l);
}

.rmx-xl {
    margin-left: var(--responsive-space-xl);
    margin-right: var(--responsive-space-xl);
}

/* Y */
.rmy-0 {
    margin-top: var(--static-space-0);
    margin-bottom: var(--static-space-0);
}

.rmy-1 {
    margin-top: var(--static-space-1);
    margin-bottom: var(--static-space-1);
}

.rmy-2 {
    margin-top: var(--static-space-2);
    margin-bottom: var(--static-space-2);
}

.rmy-4 {
    margin-top: var(--static-space-4);
    margin-bottom: var(--static-space-4);
}

.rmy-8 {
    margin-top: var(--static-space-8);
    margin-bottom: var(--static-space-8);
}

.rmy-12 {
    margin-top: var(--static-space-12);
    margin-bottom: var(--static-space-12);
}

.rmy-16 {
    margin-top: var(--static-space-16);
    margin-bottom: var(--static-space-16);
}

.rmy-20 {
    margin-top: var(--static-space-20);
    margin-bottom: var(--static-space-20);
}

.rmy-24 {
    margin-top: var(--static-space-24);
    margin-bottom: var(--static-space-24);
}

.rmy-32 {
    margin-top: var(--static-space-32);
    margin-bottom: var(--static-space-32);
}

.rmy-40 {
    margin-top: var(--static-space-40);
    margin-bottom: var(--static-space-40);
}

.rmy-48 {
    margin-top: var(--static-space-48);
    margin-bottom: var(--static-space-48);
}

.rmy-56 {
    margin-top: var(--static-space-56);
    margin-bottom: var(--static-space-56);
}

.rmy-64 {
    margin-top: var(--static-space-64);
    margin-bottom: var(--static-space-64);
}

.rmy-80 {
    margin-top: var(--static-space-80);
    margin-bottom: var(--static-space-80);
}

.rmy-104 {
    margin-top: var(--static-space-104);
    margin-bottom: var(--static-space-104);
}

.rmy-128 {
    margin-top: var(--static-space-128);
    margin-bottom: var(--static-space-128);
}

.rmy-160 {
    margin-top: var(--static-space-160);
    margin-bottom: var(--static-space-160);
}

.rmy-xs {
    margin-top: var(--responsive-space-xs);
    margin-bottom: var(--responsive-space-xs);
}

.rmy-s {
    margin-top: var(--responsive-space-s);
    margin-bottom: var(--responsive-space-s);
}

.rmy-m {
    margin-top: var(--responsive-space-m);
    margin-bottom: var(--responsive-space-m);
}

.rmy-l {
    margin-top: var(--responsive-space-l);
    margin-bottom: var(--responsive-space-l);
}

.rmy-xl {
    margin-top: var(--responsive-space-xl);
    margin-bottom: var(--responsive-space-xl);
}

/* TOP */
.rmt-0 {
    margin-top: var(--static-space-0);
}

.rmt-1 {
    margin-top: var(--static-space-1);
}

.rmt-2 {
    margin-top: var(--static-space-2);
}

.rmt-4 {
    margin-top: var(--static-space-4);
}

.rmt-8 {
    margin-top: var(--static-space-8);
}

.rmt-12 {
    margin-top: var(--static-space-12);
}

.rmt-16 {
    margin-top: var(--static-space-16);
}

.rmt-20 {
    margin-top: var(--static-space-20);
}

.rmt-24 {
    margin-top: var(--static-space-24);
}

.rmt-32 {
    margin-top: var(--static-space-32);
}

.rmt-40 {
    margin-top: var(--static-space-40);
}

.rmt-48 {
    margin-top: var(--static-space-48);
}

.rmt-56 {
    margin-top: var(--static-space-56);
}

.rmt-64 {
    margin-top: var(--static-space-64);
}

.rmt-80 {
    margin-top: var(--static-space-80);
}

.rmt-104 {
    margin-top: var(--static-space-104);
}

.rmt-128 {
    margin-top: var(--static-space-128);
}

.rmt-160 {
    margin-top: var(--static-space-160);
}

.rmt-xs {
    margin-top: var(--responsive-space-xs);
}

.rmt-s {
    margin-top: var(--responsive-space-s);
}

.rmt-m {
    margin-top: var(--responsive-space-m);
}

.rmt-l {
    margin-top: var(--responsive-space-l);
}

.rmt-xl {
    margin-top: var(--responsive-space-xl);
}

/* RIGHT */
.rmr-0 {
    margin-right: var(--static-space-0);
}

.rmr-1 {
    margin-right: var(--static-space-1);
}

.rmr-2 {
    margin-right: var(--static-space-2);
}

.rmr-4 {
    margin-right: var(--static-space-4);
}

.rmr-8 {
    margin-right: var(--static-space-8);
}

.rmr-12 {
    margin-right: var(--static-space-12);
}

.rmr-16 {
    margin-right: var(--static-space-16);
}

.rmr-20 {
    margin-right: var(--static-space-20);
}

.rmr-24 {
    margin-right: var(--static-space-24);
}

.rmr-32 {
    margin-right: var(--static-space-32);
}

.rmr-40 {
    margin-right: var(--static-space-40);
}

.rmr-48 {
    margin-right: var(--static-space-48);
}

.rmr-56 {
    margin-right: var(--static-space-56);
}

.rmr-64 {
    margin-right: var(--static-space-64);
}

.rmr-80 {
    margin-right: var(--static-space-80);
}

.rmr-104 {
    margin-right: var(--static-space-104);
}

.rmr-128 {
    margin-right: var(--static-space-128);
}

.rmr-160 {
    margin-right: var(--static-space-160);
}

.rmr-xs {
    margin-right: var(--responsive-space-xs);
}

.rmr-s {
    margin-right: var(--responsive-space-s);
}

.rmr-m {
    margin-right: var(--responsive-space-m);
}

.rmr-l {
    margin-right: var(--responsive-space-l);
}

.rmr-xl {
    margin-right: var(--responsive-space-xl);
}

/* BOTTOM */
.rmb-0 {
    margin-bottom: var(--static-space-0);
}

.rmb-1 {
    margin-bottom: var(--static-space-1);
}

.rmb-2 {
    margin-bottom: var(--static-space-2);
}

.rmb-4 {
    margin-bottom: var(--static-space-4);
}

.rmb-8 {
    margin-bottom: var(--static-space-8);
}

.rmb-12 {
    margin-bottom: var(--static-space-12);
}

.rmb-16 {
    margin-bottom: var(--static-space-16);
}

.rmb-20 {
    margin-bottom: var(--static-space-20);
}

.rmb-24 {
    margin-bottom: var(--static-space-24);
}

.rmb-32 {
    margin-bottom: var(--static-space-32);
}

.rmb-40 {
    margin-bottom: var(--static-space-40);
}

.rmb-48 {
    margin-bottom: var(--static-space-48);
}

.rmb-56 {
    margin-bottom: var(--static-space-56);
}

.rmb-64 {
    margin-bottom: var(--static-space-64);
}

.rmb-80 {
    margin-bottom: var(--static-space-80);
}

.rmb-104 {
    margin-bottom: var(--static-space-104);
}

.rmb-128 {
    margin-bottom: var(--static-space-128);
}

.rmb-160 {
    margin-bottom: var(--static-space-160);
}

.rmb-xs {
    margin-bottom: var(--responsive-space-xs);
}

.rmb-s {
    margin-bottom: var(--responsive-space-s);
}

.rmb-m {
    margin-bottom: var(--responsive-space-m);
}

.rmb-l {
    margin-bottom: var(--responsive-space-l);
}

.rmb-xl {
    margin-bottom: var(--responsive-space-xl);
}

/* LEFT */
.rml-0 {
    margin-left: var(--static-space-0);
}

.rml-1 {
    margin-left: var(--static-space-1);
}

.rml-2 {
    margin-left: var(--static-space-2);
}

.rml-4 {
    margin-left: var(--static-space-4);
}

.rml-8 {
    margin-left: var(--static-space-8);
}

.rml-12 {
    margin-left: var(--static-space-12);
}

.rml-16 {
    margin-left: var(--static-space-16);
}

.rml-20 {
    margin-left: var(--static-space-20);
}

.rml-24 {
    margin-left: var(--static-space-24);
}

.rml-32 {
    margin-left: var(--static-space-32);
}

.rml-40 {
    margin-left: var(--static-space-40);
}

.rml-48 {
    margin-left: var(--static-space-48);
}

.rml-56 {
    margin-left: var(--static-space-56);
}

.rml-64 {
    margin-left: var(--static-space-64);
}

.rml-80 {
    margin-left: var(--static-space-80);
}

.rml-104 {
    margin-left: var(--static-space-104);
}

.rml-128 {
    margin-left: var(--static-space-128);
}

.rml-160 {
    margin-left: var(--static-space-160);
}

.rml-xs {
    margin-left: var(--responsive-space-xs);
}

.rml-s {
    margin-left: var(--responsive-space-s);
}

.rml-m {
    margin-left: var(--responsive-space-m);
}

.rml-l {
    margin-left: var(--responsive-space-l);
}

.rml-xl {
    margin-left: var(--responsive-space-xl);
}



  /****************************/
 /*           PADDING        */
/****************************/

/* EVEN */
.rp-0 {
    padding: var(--static-space-0);
}

.rp-1 {
    padding: var(--static-space-1);
}

.rp-2 {
    padding: var(--static-space-2);
}

.rp-4 {
    padding: var(--static-space-4);
}

.rp-8 {
    padding: var(--static-space-8);
}

.rp-12 {
    padding: var(--static-space-12);
}

.rp-16 {
    padding: var(--static-space-16);
}

.rp-20 {
    padding: var(--static-space-20);
}

.rp-24 {
    padding: var(--static-space-24);
}

.rp-32 {
    padding: var(--static-space-32);
}

.rp-40 {
    padding: var(--static-space-40);
}

.rp-48 {
    padding: var(--static-space-48);
}

.rp-56 {
    padding: var(--static-space-56);
}

.rp-64 {
    padding: var(--static-space-64);
}

.rp-80 {
    padding: var(--static-space-80);
}

.rp-104 {
    padding: var(--static-space-104);
}

.rp-128 {
    padding: var(--static-space-128);
}

.rp-160 {
    padding: var(--static-space-160);
}

.rp-xs {
    padding: var(--responsive-space-xs);
}

.rp-s {
    padding: var(--responsive-space-s);
}

.rp-m {
    padding: var(--responsive-space-m);
}

.rp-l {
    padding: var(--responsive-space-l);
}

.rp-xl {
    padding: var(--responsive-space-xl);
}

/* X */
.rpx-0 {
    padding-left: var(--static-space-0);
    padding-right: var(--static-space-0);
}

.rpx-1 {
    padding-left: var(--static-space-1);
    padding-right: var(--static-space-1);
}

.rpx-2 {
    padding-left: var(--static-space-2);
    padding-right: var(--static-space-2);
}

.rpx-4 {
    padding-left: var(--static-space-4);
    padding-right: var(--static-space-4);
}

.rpx-8 {
    padding-left: var(--static-space-8);
    padding-right: var(--static-space-8);
}

.rpx-12 {
    padding-left: var(--static-space-12);
    padding-right: var(--static-space-12);
}

.rpx-16 {
    padding-left: var(--static-space-16);
    padding-right: var(--static-space-16);
}

.rpx-20 {
    padding-left: var(--static-space-20);
    padding-right: var(--static-space-20);
}

.rpx-24 {
    padding-left: var(--static-space-24);
    padding-right: var(--static-space-24);
}

.rpx-32 {
    padding-left: var(--static-space-32);
    padding-right: var(--static-space-32);
}

.rpx-40 {
    padding-left: var(--static-space-40);
    padding-right: var(--static-space-40);
}

.rpx-48 {
    padding-left: var(--static-space-48);
    padding-right: var(--static-space-48);
}

.rpx-56 {
    padding-left: var(--static-space-56);
    padding-right: var(--static-space-56);
}

.rpx-64 {
    padding-left: var(--static-space-64);
    padding-right: var(--static-space-64);
}

.rpx-80 {
    padding-left: var(--static-space-80);
    padding-right: var(--static-space-80);
}

.rpx-104 {
    padding-left: var(--static-space-104);
    padding-right: var(--static-space-104);
}

.rpx-128 {
    padding-left: var(--static-space-128);
    padding-right: var(--static-space-128);
}

.rpx-160 {
    padding-left: var(--static-space-160);
    padding-right: var(--static-space-160);
}

.rpx-xs {
    padding-left: var(--responsive-space-xs);
    padding-right: var(--responsive-space-xs);
}

.rpx-s {
    padding-left: var(--responsive-space-s);
    padding-right: var(--responsive-space-s);
}

.rpx-m {
    padding-left: var(--responsive-space-m);
    padding-right: var(--responsive-space-m);
}

.rpx-l {
    padding-left: var(--responsive-space-l);
    padding-right: var(--responsive-space-l);
}

.rpx-xl {
    padding-left: var(--responsive-space-xl);
    padding-right: var(--responsive-space-xl);
}

/* Y */
.rpy-0 {
    padding-top: var(--static-space-0);
    padding-bottom: var(--static-space-0);
}

.rpy-1 {
    padding-top: var(--static-space-1);
    padding-bottom: var(--static-space-1);
}

.rpy-2 {
    padding-top: var(--static-space-2);
    padding-bottom: var(--static-space-2);
}

.rpy-4 {
    padding-top: var(--static-space-4);
    padding-bottom: var(--static-space-4);
}

.rpy-8 {
    padding-top: var(--static-space-8);
    padding-bottom: var(--static-space-8);
}

.rpy-12 {
    padding-top: var(--static-space-12);
    padding-bottom: var(--static-space-12);
}

.rpy-16 {
    padding-top: var(--static-space-16);
    padding-bottom: var(--static-space-16);
}

.rpy-20 {
    padding-top: var(--static-space-20);
    padding-bottom: var(--static-space-20);
}

.rpy-24 {
    padding-top: var(--static-space-24);
    padding-bottom: var(--static-space-24);
}

.rpy-32 {
    padding-top: var(--static-space-32);
    padding-bottom: var(--static-space-32);
}

.rpy-40 {
    padding-top: var(--static-space-40);
    padding-bottom: var(--static-space-40);
}

.rpy-48 {
    padding-top: var(--static-space-48);
    padding-bottom: var(--static-space-48);
}

.rpy-56 {
    padding-top: var(--static-space-56);
    padding-bottom: var(--static-space-56);
}

.rpy-64 {
    padding-top: var(--static-space-64);
    padding-bottom: var(--static-space-64);
}

.rpy-80 {
    padding-top: var(--static-space-80);
    padding-bottom: var(--static-space-80);
}

.rpy-104 {
    padding-top: var(--static-space-104);
    padding-bottom: var(--static-space-104);
}

.rpy-128 {
    padding-top: var(--static-space-128);
    padding-bottom: var(--static-space-128);
}

.rpy-160 {
    padding-top: var(--static-space-160);
    padding-bottom: var(--static-space-160);
}

.rpy-xs {
    padding-top: var(--responsive-space-xs);
    padding-bottom: var(--responsive-space-xs);
}

.rpy-s {
    padding-top: var(--responsive-space-s);
    padding-bottom: var(--responsive-space-s);
}

.rpy-m {
    padding-top: var(--responsive-space-m);
    padding-bottom: var(--responsive-space-m);
}

.rpy-l {
    padding-top: var(--responsive-space-l);
    padding-bottom: var(--responsive-space-l);
}

.rpy-xl {
    padding-top: var(--responsive-space-xl);
    padding-bottom: var(--responsive-space-xl);
}

/* TOP */
.rpt-0 {
    padding-top: var(--static-space-0);
}

.rpt-1 {
    padding-top: var(--static-space-1);
}

.rpt-2 {
    padding-top: var(--static-space-2);
}

.rpt-4 {
    padding-top: var(--static-space-4);
}

.rpt-8 {
    padding-top: var(--static-space-8);
}

.rpt-12 {
    padding-top: var(--static-space-12);
}

.rpt-16 {
    padding-top: var(--static-space-16);
}

.rpt-20 {
    padding-top: var(--static-space-20);
}

.rpt-24 {
    padding-top: var(--static-space-24);
}

.rpt-32 {
    padding-top: var(--static-space-32);
}

.rpt-40 {
    padding-top: var(--static-space-40);
}

.rpt-48 {
    padding-top: var(--static-space-48);
}

.rpt-56 {
    padding-top: var(--static-space-56);
}

.rpt-64 {
    padding-top: var(--static-space-64);
}

.rpt-80 {
    padding-top: var(--static-space-80);
}

.rpt-104 {
    padding-top: var(--static-space-104);
}

.rpt-128 {
    padding-top: var(--static-space-128);
}

.rpt-160 {
    padding-top: var(--static-space-160);
}

.rpt-xs {
    padding-top: var(--responsive-space-xs);
}

.rpt-s {
    padding-top: var(--responsive-space-s);
}

.rpt-m {
    padding-top: var(--responsive-space-m);
}

.rpt-l {
    padding-top: var(--responsive-space-l);
}

.rpt-xl {
    padding-top: var(--responsive-space-xl);
}


/* RIGHT */
.rpr-0 {
    padding-right: var(--static-space-0);
}

.rpr-1 {
    padding-right: var(--static-space-1);
}

.rpr-2 {
    padding-right: var(--static-space-2);
}

.rpr-4 {
    padding-right: var(--static-space-4);
}

.rpr-8 {
    padding-right: var(--static-space-8);
}

.rpr-12 {
    padding-right: var(--static-space-12);
}

.rpr-16 {
    padding-right: var(--static-space-16);
}

.rpr-20 {
    padding-right: var(--static-space-20);
}

.rpr-24 {
    padding-right: var(--static-space-24);
}

.rpr-32 {
    padding-right: var(--static-space-32);
}

.rpr-40 {
    padding-right: var(--static-space-40);
}

.rpr-48 {
    padding-right: var(--static-space-48);
}

.rpr-56 {
    padding-right: var(--static-space-56);
}

.rpr-64 {
    padding-right: var(--static-space-64);
}

.rpr-80 {
    padding-right: var(--static-space-80);
}

.rpr-104 {
    padding-right: var(--static-space-104);
}

.rpr-128 {
    padding-right: var(--static-space-128);
}

.rpr-160 {
    padding-right: var(--static-space-160);
}

.rpr-xs {
    padding-right: var(--responsive-space-xs);
}

.rpr-s {
    padding-right: var(--responsive-space-s);
}

.rpr-m {
    padding-right: var(--responsive-space-m);
}

.rpr-l {
    padding-right: var(--responsive-space-l);
}

.rpr-xl {
    padding-right: var(--responsive-space-xl);
}

/* BOTTOM */
.rpb-0 {
    padding-bottom: var(--static-space-0);
}

.rpb-1 {
    padding-bottom: var(--static-space-1);
}

.rpb-2 {
    padding-bottom: var(--static-space-2);
}

.rpb-4 {
    padding-bottom: var(--static-space-4);
}

.rpb-8 {
    padding-bottom: var(--static-space-8);
}

.rpb-12 {
    padding-bottom: var(--static-space-12);
}

.rpb-16 {
    padding-bottom: var(--static-space-16);
}

.rpb-20 {
    padding-bottom: var(--static-space-20);
}

.rpb-24 {
    padding-bottom: var(--static-space-24);
}

.rpb-32 {
    padding-bottom: var(--static-space-32);
}

.rpb-40 {
    padding-bottom: var(--static-space-40);
}

.rpb-48 {
    padding-bottom: var(--static-space-48);
}

.rpb-56 {
    padding-bottom: var(--static-space-56);
}

.rpb-64 {
    padding-bottom: var(--static-space-64);
}

.rpb-80 {
    padding-bottom: var(--static-space-80);
}

.rpb-104 {
    padding-bottom: var(--static-space-104);
}

.rpb-128 {
    padding-bottom: var(--static-space-128);
}

.rpb-160 {
    padding-bottom: var(--static-space-160);
}

.rpb-xs {
    padding-bottom: var(--responsive-space-xs);
}

.rpb-s {
    padding-bottom: var(--responsive-space-s);
}

.rpb-m {
    padding-bottom: var(--responsive-space-m);
}

.rpb-l {
    padding-bottom: var(--responsive-space-l);
}

.rpb-xl {
    padding-bottom: var(--responsive-space-xl);
}

/* LEFT */
.rpl-0 {
    padding-left: var(--static-space-0);
}

.rpl-1 {
    padding-left: var(--static-space-1);
}

.rpl-2 {
    padding-left: var(--static-space-2);
}

.rpl-4 {
    padding-left: var(--static-space-4);
}

.rpl-8 {
    padding-left: var(--static-space-8);
}

.rpl-12 {
    padding-left: var(--static-space-12);
}

.rpl-16 {
    padding-left: var(--static-space-16);
}

.rpl-20 {
    padding-left: var(--static-space-20);
}

.rpl-24 {
    padding-left: var(--static-space-24);
}

.rpl-32 {
    padding-left: var(--static-space-32);
}

.rpl-40 {
    padding-left: var(--static-space-40);
}

.rpl-48 {
    padding-left: var(--static-space-48);
}

.rpl-56 {
    padding-left: var(--static-space-56);
}

.rpl-64 {
    padding-left: var(--static-space-64);
}

.rpl-80 {
    padding-left: var(--static-space-80);
}

.rpl-104 {
    padding-left: var(--static-space-104);
}

.rpl-128 {
    padding-left: var(--static-space-128);
}

.rpl-160 {
    padding-left: var(--static-space-160);
}

.rpl-xs {
    padding-left: var(--responsive-space-xs);
}

.rpl-s {
    padding-left: var(--responsive-space-s);
}

.rpl-m {
    padding-left: var(--responsive-space-m);
}

.rpl-l {
    padding-left: var(--responsive-space-l);
}

.rpl-xl {
    padding-left: var(--responsive-space-xl);
}




  /****************************/
 /*            GAP           */
/****************************/

// Negative gap: collapse stacked borders

.g-horizontal--1 > *:not(:first-child) {
    margin-left: -1px;
}
  
.g-vertical--1 > *:not(:first-child) {
    margin-top: -1px;
}

// Regular gap

.g-0 {
    gap: var(--static-space-0);
}

.g-1 {
    gap: var(--static-space-1);
}

.g-2 {
    gap: var(--static-space-2);
}

.g-4 {
    gap: var(--static-space-4);
}

.g-8 {
    gap: var(--static-space-8);
}

.g-12 {
    gap: var(--static-space-12);
}

.g-16 {
    gap: var(--static-space-16);
}

.g-20 {
    gap: var(--static-space-20);
}

.g-24 {
    gap: var(--static-space-24);
}

.g-32 {
    gap: var(--static-space-32);
}

.g-40 {
    gap: var(--static-space-40);
}

.g-48 {
    gap: var(--static-space-48);
}

.g-56 {
    gap: var(--static-space-56);
}

.g-64 {
    gap: var(--static-space-64);
}

.g-80 {
    gap: var(--static-space-80);
}

.g-104 {
    gap: var(--static-space-104);
}

.g-128 {
    gap: var(--static-space-128);
}

.g-160 {
    gap: var(--static-space-160);
}

.g-xs {
    gap: var(--responsive-space-xs);
}

.g-s {
    gap: var(--responsive-space-s);
}

.g-m {
    gap: var(--responsive-space-m);
}

.g-l {
    gap: var(--responsive-space-l);
}

.g-xl {
    gap: var(--responsive-space-xl);
}