@reference './globals.css';

.nx-grid-fill-container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

// Apply parent bg colour while editing
.rdg-cell.rdg-editor-container>* {
    background-color: inherit;
}

.rdg-cell>div[draggable='true'] {
    @apply h-full;
}

.rdg-cell-frozen-last {
    @apply border-border border-r-2 shadow-none;
}

.rdg-cell[aria-selected='true'] {
    box-shadow: inset 0 0 0 1px var(--brand-solid-strong);
    outline: none;
}

.rdg {
    @apply select-none;
    contain: strict;
    -webkit-user-select: none;
    font-size: 14px;
}

@supports not (contain: strict) {
    .rdg {
        position: relative;
        z-index: 0;
    }
}

.rdg-focus-sink {
    position: sticky;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    outline: 0;
}

/*
  Row
*/

.rdg-row {
    @apply transition-colors;
}

/* edit button */
.rdg-row__select-column__edit-action {
    @apply opacity-0;
}

.rdg-row:hover .rdg-row__select-column__edit-action {
    @apply opacity-100;
}

.rdg-row__select-column__edit-action:hover {
    opacity: 1 !important;
}

.tab-cursor {
    cursor: pointer !important;
}


/*
  React Contexify
*/

:root {
    --contexify-zIndex: 666;
    --contexify-menu-minWidth: 220px;
    --contexify-menu-padding: 6px;
    --contexify-menu-radius: 6px;
    --contexify-menu-bgColor: var(--popover);
    --contexify-menu-shadow: 0 0 0 1px var(--neutral-border-medium);
    --contexify-menu-negatePadding: var(--contexify-menu-padding);

    --contexify-separator-color: var(--neutral-border-medium);
    --contexify-separator-margin: 5px;
    --contexify-itemContent-padding: 6px;
    --contexify-activeItem-radius: 4px;
    --contexify-item-color: var(--popover-foreground);
    --contexify-activeItem-color: var(--neutral-on-background-medium);
    --contexify-activeItem-bgColor: var(--neutral-alpha-medium);
    --contexify-rightSlot-color: var(--muted-foreground);
    --contexify-activeRightSlot-color: var(--neutral-on-background-medium);
    --contexify-arrow-color: var(--muted-foreground);
    --contexify-activeArrow-color: var(--neutral-on-background-medium);
}

/*
  ColumnHeader
*/

.nx-grid-column-header {
    @apply flex h-full w-full items-center justify-between;
}

.nx-grid-column-header--cursor {
    @apply cursor-default;
}

.nx-grid-column-header__inner {
    @apply flex items-center overflow-hidden overflow-ellipsis;
}

.nx-grid-column-header__inner__name {
    @apply overflow-hidden overflow-ellipsis text-xs select-text;
}

.nx-grid-column-header__inner__format {
    @apply text-xs;
    @apply overflow-hidden overflow-ellipsis font-normal;
}

.nx-grid-column-header__inner__primary-key {
    @apply flex rotate-45 transform items-center;
}

/*
  SelectColumn
*/

.nx-grid-select-cell__header__input {
    /* @apply focus:ring-brand-300; */
    // @apply border-background-surface-100;
}

/*
header/sort/SortDropdown
*/

.nx-grid-sort-popover {
    @apply w-96;
}

.nx-grid-dropdown__empty {
    @apply py-2;
}

.nx-grid-dropdown__empty__text {
    @apply block;
}

.nx-grid-dropdown__item-trigger {
    @apply my-1;
}

/*
header/sort/SortRow
*/

.nx-grid-sort-row {
    @apply flex justify-between space-x-3;
}

.nx-grid-sort-row__item {
    @apply flex items-center space-x-3;
}

.nx-grid-sort-row__item__remove {
    @apply bg-transparent p-0 hover:bg-transparent;
}

.nx-grid-sort-row__item__label {
    @apply flex items-center space-x-2;
}

.nx-grid-sort-row__item_toogle {
    @apply flex w-28 items-center gap-0 space-x-3;
}

.nx-grid-sort-row__item__move {
    @apply flex cursor-move;
}

.rdg-cell-frozen {
    @apply backdrop-blur-md;
}